@charset "utf-8";
/* CSS Document */
body {
    background-color: #0b2d5c;
	margin-left: 8px;
    margin-right: 0px;
    margin-top: -1px;
    margin-bottom: 0px;
}
h1 {
	text-shadow: 200px;
	position:absolute;
	color:salmon;
	text-emphasis-color: aliceblue;
	align-items: center;
	text-align: center;
	font-size: 80px; 
	font-family: Impact;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15%;
	z-index: 1;
}
h2 {

    font-family: constantia;
    color: white;
    background: none;
	font-size: 45px;
	text-align: center;
    margin-top: 20%;
    z-index: 3;
}

img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 0;
}
a {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	background-color: #224285;
	color: white;
	padding: 10px 20px;
	border-radius: 5px
	text decoration: none;
	font-weight: bold
	z-index: 10;
}
a:hover {
background-color: #1a3368
}
