@charset "utf-8";
/* CSS Document */
body {
    margin-left: 8px;
    margin-right: 0px;
    margin-top: -1px;
    margin-bottom: 0px;
}
h1 {
	text-shadow: 200px;
	position:absolute;
	color:salmon;
	text-emphasis-color: aliceblue;
	align-items: center;
	text-align: center;
	font-size: 80px; 
	font-family: Impact;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15%;
	z-index: 1;
}
h2 {
    position: absolute;
    font-family: constantia;
    color: #224285;
    background: none;
    margin-top: 31%;
    margin-left: -3%;
    font-size: 45px;
    z-index: 3;
}

img {
	position:absolute;
	align-content: center;
	z-index: -1;
	height: 98%;
	width: 98.5%;
}
a {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	background-color: #224285;
	color: white;
	padding: 10px 20px;
	border-radius: 5px
	text decoration: none;
	font-weight: bold
	z-index: 10;
}
a:hover {
background-color: #1a3368
}